.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 100%;
  width: 50%;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

@media (min-width: 320px) and (max-width: 480px) {
  .users-container {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}

.circle{
  counter-reset: list-counter;
  list-style: none;
  float:left;
  width: 100%;
  padding: 10px;
}
.circle li{
  margin: 10px 0; 
}
.circle li:before{
  content: counter(list-counter);
  counter-increment: list-counter;
  width: 20px;
  height: 20px;
  padding: 13px;
  margin-right: 5px;
  border-radius: 50%;
  border: 3px solid #ccc;
  background: #000;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  display: inline-block; 
}

.users{
  padding: 5% 0;
  margin-top: -50px;
  overflow: auto;
  flex: auto;
}

.user{
  width:100%;
  background-color:#ccc;
  border-radius: 5px ;
  color:#333;
  font-size: 24px;
}

.link{
  text-decoration: none;
	color:inherit
}
