html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 80vh;
}

* {
  box-sizing: border-box;
}

.main-app {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 90vh;
  padding-top: 20px;
  margin-top: -18px;
  align-items: center;
  background-color: #f4f4f4;
}

.auth-container {
  width: 40%;
  margin-top: -50px;
  padding:20px;
  padding-top: 0px;
  background-color: #fff;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.auth-input {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: #2979FF;
  font-size: 26px;
  padding-bottom: 10px;
  border-bottom: 2px solid #2979FF;
}

.paragraph{
  color: #333;
  font-size: 18px;
  padding-bottom: 10px;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
  margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main-app {
    height: 83.8vh;
  }

  .auth-container {
    width: 90%;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .main-app {
    height: 89.3vh;
  }

  .auth-container {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.validation-error{
  color: #dc3545 !important;
  text-align: left;
  padding: 5px;
  }

  input.auth-input.mt-20.validation-error  {
    border: 1px solid #dc3545;
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }

  .heading{
    text-align: center;
  }


  .links{
    text-decoration: none;
    font-weight: 400;
  }
